<div class="row row-cols-1 row-cols-md-3 g-4 w-50 mx-auto">
   {{range .}}
   <div class="col">
      <div class="card">
         <img src="/favicon.ico" class="card-img-top" alt="...">
         <div class="card-body">
            <h5 class="card-title">{{.Name}}</h5>
            <ul class="list-group list-group-flush">
               {{range .Items}}
               <li class="list-group-item">{{.}}</li>
               {{end}}
            </ul>
            <a href="#" class="btn btn-primary">New Meal</a>
         </div>
      </div>
   </div>
   {{end}}
</div>