version: '3.9'
services:
  db:
    image: postgres:latest
    restart: always
    env_file:
      - ./database/.env
    ports:
      - "27019:27019"
    volumes:
      - data:/var/lib/postgresql/data
volumes:
  data:
